<h1><%= @user.name %>'s Profile</h1>

<p><%= @user.email %></p>
<p><%= @user.image %></p>

<%= link_to "Edit profile", edit_user_path(@user) %>

<!-- ADD LIST OF PLEDGES -->
<p>
Projects you've backed
</p>
